.contain{
    display: flex;
    border: 2px solid rgba(128, 128, 128, 0.391);
    padding: 1vh 2vw;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

.contain:hover{
    border: 2px solid rgba(128, 128, 128, 0.651);
}